header {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .sticky {
  background-color: #fff;
  z-index: 1;
  position: fixed;
  display: block;
}
header .container {
  height: 100%;
}
header .container .navbar {
  height: 100%;
  background-color: transparent !important;
  z-index: 1;
}
header .container .navbar .navbar-brand img {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
}
header .container .navbar .navbar-toggler .navbar-toggler-icon {
  color: 0;
}
header .container .navbar .navbar-collapse {
  display: flex;
  padding-left: 50px;
  justify-content: end;
}
header .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 0 50px 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
header .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #b61984;
}
header .container .navbar .header_contact {
  display: flex;
  align-items: center;
}
header .container .navbar .header_contact .btn_contact {
  outline: none;
  width: 100%;
  height: 100%;
  align-items: center;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
  box-shadow: 0 0 0 3em #b61984 inset;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  background-color: #b61984;
  padding: 16px 24px;
  border-radius: 50px;
}
header .container .navbar .header_contact .btn_contact:hover {
  border-color: #b61984;
  background-color: #fff;
  color: #b61984;
}
header .container .navbar .header_contact .btn_contact:hover {
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}
header .container .navbar .header_contact .icon_contact {
  padding-left: 20px;
  line-height: 80px;
}
header .container .navbar .header_contact .icon_contact i {
  padding-right: 5px;
  color: #000;
}

.main_header .carousel .background_top img {
  width: 100%;
  background-size: cover;
}
.main_header .carousel .port .container .port_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .main_header .carousel .port .container .port_content {
    display: block;
  }
}
.main_header .carousel .port .container .port_content .content_text p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #b61984;
}
@media (max-width: 767.98px) {
  .main_header .carousel .port .container .port_content .content_text p {
    font-size: 14px;
    font-weight: 600;
    color: #b61984;
  }
}
@media (max-width: 575.98px) {
  .main_header .carousel .port .container .port_content .content_text p {
    font-size: 12px;
    font-weight: 600;
    color: #b61984;
  }
}
.main_header .carousel .port .container .port_content .content_text span {
  line-height: 70px;
  font-size: 60px;
  font-weight: 700;
  color: #000;
}
@media (max-width: 767.98px) {
  .main_header .carousel .port .container .port_content .content_text span {
    font-size: 50px;
    font-weight: 700;
    color: #000;
  }
}
@media (max-width: 575.98px) {
  .main_header .carousel .port .container .port_content .content_text span {
    font-size: 40px;
    font-weight: 700;
    color: #000;
  }
}
.main_header .carousel .port .container .port_content .content_img img {
  width: 100%;
  background-size: cover;
}
.main_header .carousel .background_bottom img {
  width: 100%;
  background-size: cover;
}

.card_content {
  position: relative;
}
.card_content .bg_top {
  position: absolute;
}
.card_content .bg_top img {
  width: 100%;
  height: 100%;
  background-color: #dcd1f3;
  background-size: cover;
  background-position: top left;
  display: block;
}
.card_content .container .list_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card_content .container .list_card .item_1 {
  animation: fadeIn 0s;
}
.card_content .container .list_card .item_2 {
  animation: fadeIn 0.5s;
}
.card_content .container .list_card .item_3 {
  animation: fadeIn 1s;
}
.card_content .container .list_card .item_4 {
  animation: fadeIn 1.5s;
}
.card_content .container .list_card .card_name {
  width: 25%;
  padding: 20px;
}
@media (max-width: 992px) {
  .card_content .container .list_card .card_name {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .card_content .container .list_card .card_name {
    width: 100%;
  }
}
.card_content .container .list_card .card {
  border-radius: 20px;
}
.card_content .container .list_card .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card_content .container .list_card .card .card_body {
  text-align: center;
  overflow: hidden;
}
.card_content .container .list_card .card .card_body img {
  border-radius: 20px 20px 0 0;
}
.card_content .container .list_card .card .card_body img:hover {
  animation: zoom-in 1s;
}
.card_content .container .list_card .card .card_body .card-country {
  font-size: 12px;
  font-weight: 600;
  color: #b61984;
}
.card_content .container .list_card .card .card_body .card-title {
  font-size: 20px;
  font-weight: 700;
  color: #181818;
}
.card_content .container .list_card .card .card_body .card-text {
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

.your_course {
  padding-top: 60px;
  background-image: url(../../../../images/images/accent_bottom_wave_01\ \(1\).png);
  background-size: cover;
  width: 100%;
  background-position: left bottom;
}
.your_course .container .port {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .your_course .container .port {
    display: block;
  }
}
.your_course .container .port .port_img {
  width: 40%;
}
@media (max-width: 991.98px) {
  .your_course .container .port .port_img {
    width: 100%;
  }
}
.your_course .container .port .port_img img {
  width: 100%;
}
.your_course .container .port .port_form {
  background-color: #fff;
  padding: 0px 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  width: 35%;
}
@media (max-width: 991.98px) {
  .your_course .container .port .port_form {
    width: 100%;
  }
}
.your_course .container .port .port_form .form_content span {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}
.your_course .container .port .port_form .form_content .form_text {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.your_course .container .port .port_form .form_content .form_text .flex-name {
  display: flex;
  position: relative;
}
.your_course .container .port .port_form .form_content .form_text .flex-name i {
  position: absolute;
  transform: translateY(50%);
  margin-left: 17px;
  z-index: 1;
  color: #b61984;
  font-size: 18px;
}
.your_course .container .port .port_form .form_content .form_text .flex-name .input_name {
  outline: none;
  height: 3.5em;
  box-shadow: none;
  font-size: 12px;
  font-weight: 300;
  color: grey;
  border-color: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 1em 1em 1em 3.5em;
  border-radius: 50px;
}
.your_course .container .port .port_form .form_content .form_text .flex-name .input_name:hover {
  border-color: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
}
.your_course .container .port .port_form .form_content .form_text .flex-mail {
  display: flex;
  position: relative;
}
.your_course .container .port .port_form .form_content .form_text .flex-mail i {
  position: absolute;
  transform: translateY(50%);
  margin-left: 23px;
  z-index: 1;
  color: #b61984;
  font-size: 18px;
}
.your_course .container .port .port_form .form_content .form_text .flex-mail .input_text {
  margin-left: 10px;
  outline: none;
  height: 3.5em;
  box-shadow: none;
  font-size: 12px;
  font-weight: 300;
  color: grey;
  border-color: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 1em 1em 1em 3.5em;
  border-radius: 50px;
}
.your_course .container .port .port_form .form_content .form_text .flex-mail .input_text:hover {
  border-color: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
}
.your_course .container .port .port_form .form_content .select_country {
  display: flex;
  position: relative;
}
.your_course .container .port .port_form .form_content .select_country i {
  position: absolute;
  line-height: 3.5em;
  margin-left: 15px;
  z-index: 1;
  color: #b61984;
  font-size: 18px;
}
.your_course .container .port .port_form .form_content .select_country .country {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 3.5em;
  box-shadow: none;
  font-size: 12px;
  font-weight: 300;
  color: grey;
  border-color: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 1em 1em 1em 3.5em;
  border-radius: 50px;
}
.your_course .container .port .port_form .form_content .select_country .country:hover {
  border-color: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
}
.your_course .container .port .port_form .form_content .textarea_content {
  display: flex;
  position: relative;
  display: block;
}
.your_course .container .port .port_form .form_content .textarea_content i {
  position: absolute;
  line-height: 2em;
  margin-left: 15px;
  z-index: 1;
  color: #b61984;
  font-size: 18px;
}
.your_course .container .port .port_form .form_content .textarea_content .textarea {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 5px 40px;
  box-shadow: none;
}
.your_course .container .port .port_form .form_content .btn_send {
  display: block;
  margin: 30px 0;
  letter-spacing: 2px;
  height: 4em;
  align-self: center;
  width: 40%;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
  box-shadow: 0 0 0 3em #b61984 inset;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  background-color: #b61984;
  padding: 12px 48px;
  border-radius: 50px;
}
.your_course .container .port .port_form .form_content .btn_send:hover {
  border-color: #b61984;
  background-color: #fff;
  color: #b61984;
}
.your_course .container .port .port_form .form_content .btn_send:hover {
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}

footer {
  background-image: url(../../../../images/images/footer_background.jpg);
  width: 100%;
  background-size: cover;
  background-position: top bottom;
  padding-top: 120px;
  height: 500px;
}
@media (max-width: 992px) {
  footer {
    background-size: cover;
    height: 700px;
  }
}
@media (max-width: 490px) {
  footer {
    background-size: cover;
    height: 1200px;
  }
}
footer .container .footer_content .item_1 {
  animation: fadeIn 0s;
}
footer .container .footer_content .item_2 {
  animation: fadeIn 0.5s;
}
footer .container .footer_content .item_3 {
  animation: fadeIn 1s;
}
footer .container .footer_content .item_4 {
  animation: fadeIn 1.5s;
}
@media (max-width: 992px) {
  footer .container .footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
}
footer .container .contact_us h1 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
footer .container .contact_us .local {
  padding-bottom: 15px 0;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
footer .container .contact_us .local span {
  padding-left: 5px;
}
footer .container .contact_us .phone {
  padding: 15px 0;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
footer .container .contact_us .phone span {
  padding-left: 5px;
}
footer .container .contact_us .time {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
footer .container .contact_us .time span {
  padding-left: 5px;
}
footer .container .contact_us .icon_contact a i {
  margin-right: 5px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 992px) {
  footer .container .contact_us {
    width: 50%;
  }
}
@media (max-width: 490px) {
  footer .container .contact_us {
    width: 100%;
  }
}
footer .container .quicks_link h1 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
footer .container .quicks_link ul a {
  margin: 10px 0;
  display: block;
  text-decoration: none;
}
footer .container .quicks_link ul a li {
  list-style: none;
  display: inline;
  border-bottom: 0.5px solid #990171;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 992px) {
  footer .container .quicks_link {
    width: 50%;
  }
}
@media (max-width: 490px) {
  footer .container .quicks_link {
    width: 100%;
  }
}
footer .container .about h1 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
footer .container .about ul a {
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
footer .container .about ul a li {
  list-style: none;
  border-bottom: 0.5px solid #990171;
  display: inline;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 992px) {
  footer .container .about {
    width: 50%;
  }
}
@media (max-width: 490px) {
  footer .container .about {
    width: 100%;
  }
}
footer .container .newsletter h1 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
footer .container .newsletter .btn_your_email {
  width: 80%;
  margin-bottom: 5px;
  background-color: #aa017e;
  border-radius: 50px;
  display: block;
  padding: 15px;
}
footer .container .newsletter .btn_your_email:focus {
  border: 1px solid white;
  box-shadow: none;
}
footer .container .newsletter .btn_subcribe {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 80%;
  -webkit-box-shadow: 0 0 0 3em #fff inset;
  box-shadow: 0 0 0 3em #fff inset;
  color: #181818;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  border-color: none;
  background-color: #fff;
  padding: 15px;
  border-radius: 50px;
  animation: fadeInLeft 1s;
}
footer .container .newsletter .btn_subcribe:hover {
  border-color: white;
  background-color: #b61984;
  color: #fff;
}
footer .container .newsletter .btn_subcribe:hover {
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #fff;
}
@media (max-width: 992px) {
  footer .container .newsletter {
    width: 50%;
  }
}
@media (max-width: 490px) {
  footer .container .newsletter {
    width: 100%;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}